* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  text-align: center;
  color: #ff6a23;
}
.menu {
  margin-top: 20px;
}

.btn-item{
  display: flex;
  margin: 40px 0;
  gap: 17px;
  font-size: 25px;
  border-radius: 0.7rem;
}

.btn-item:hover{
  color: white;
  background-color: rgb(21, 19, 19);
  
}


.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.photo {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
}
.menu-items {
  display: flex;
  margin: 20px 0;
}
.menu-info {
  margin-left: 20px;
  width: 100%;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

h4 {
  color: #e00a00;
}

.secondContainer h3 {
  display: flex;
  justify-content: space-between; /* Başlık ve fiyatı uçlara gönderir */
  width: 20rem;
  font-size: 1.4rem;
  color: #ff6a23;
  background-color: #f1f5f8;
  margin: 1.5rem;
  border-bottom: 3px solid black;
  padding-bottom: 0.7rem;
}


.menu-card img{
 width: 270px;
 height: 300px;
 border: 5px black solid;
 border-radius: 20px;
 object-fit: cover;  /* kırpar ama oran bozulmaz */
 
  
}

.menu-text {
  padding-top: 20px;
}

.menu-container{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}

.menu-card{
   display: flex;
   flex: 1 1 45%;  /* flex-grow, flex-shrink, flex-basis */
   padding: 30px;
   padding-left: 20rem;
   flex-direction: row;

}

.menu-card p{
  font-size: 1.2rem;
  margin:1.5rem
}