
*{
    box-sizing: border-box; /* This makes sure that the padding and border are included in the total width and height of the elements.  */
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{ /* The main content area expands, pushing the footer down */
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
    background-color:  #333333;
    color: white;
    margin: 0%;
    padding: 0%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #333333;

}
.nav-links{
  width: 100%;      
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 60px;           
  background: #333333;
  

}

.nav-links a{
    color: white;
    background-color: #333333;
    text-decoration: none;
    font-weight: 800;
    padding: 20px;

    
}
.last{
    font-size: 35px;
    padding: 30px;
    color: #333333;
}
.nav-links a:hover{
    color: brown;
}

.post{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
    padding: 20px;
    
}
.post h3 a{
    color: #333333;
    text-decoration: none;
}
.post article a{
    color: #666666;
    text-decoration: none;
}

.post1 img{
    
    display: flex;
    align-items: center;
    height: 300px;
    width: auto;
    object-fit: contain;
    
}

.post2 img{
    display: flex;
    align-items: center;
    height: 320px;
    width: auto;
    object-fit: contain;
}
.post3 h3, article{
    display: flex;
    text-align: center;
    align-items: center;

}

.post1, .post2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px #333333 ;
    width: 30%;       
    margin: 0;         
    padding: 20px;
    box-sizing: border-box;

}

article{
    color:#666;
    text-decoration: none;
}




.post3{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: white;
    border-radius: 10px;
    width: 30%;
    margin: 10% auto;
    padding: 20px;
    box-sizing: border-box;

}

.post3 img{
    object-fit: contain;
    height: 200px;
    width: auto;
}
.post3 h3 a{
color: #333333;
text-decoration: none;
}

.post3 article a{
color: #666666;
text-decoration: none;
}


.footer{
   
 width: 100%;
    padding: 15px 0;
    background-color: #333333;
    color: white;
    text-align: center;
    justify-content: end;
    font-size: 15px;
}


