*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
background-color: #F2F1ED;
}

.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f5edcd;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 100;
    position: fixed;

}

.nav{
    display: flex;
    padding-right: 30%;
    gap: 50px;
}

.nav a{
    text-decoration: none;
    color: #122c06;
    font-size: 20px;
    font-weight: bold;

}

.nav a:hover{
    color: #abc49a;
}


.container{
    background-color:#f5edcd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
    flex: 1;

    
}

.image{
    flex: 1;
    display: flex;
    justify-content: center
}
.image img{
    width: 100%;
    height: fit-content;
    margin:0;
    padding: 0;
    border-radius: 10px;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.text p {
    font-size: 30px;
    font-weight: bold;
    color: #122c06;
   
}

.container2{
    background-image: url(img/pic2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.text1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    margin: 0 10px;
    padding: 0 20px;
    background-color: white;
    opacity: 0.5;

}

.text2{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    margin: 0 10px;
    padding: 0 20px;
    background-color: white;
    opacity: 0.5;

}

.text3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    margin: 0 10px;
    padding: 0 20px;
    background-color: white;
    opacity: 0.5;
}

#infopage{
    font-size: 20px;
    font-weight: bold;
    color: #122c06;

}

.container3{
    background-color:#f5edcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
    flex: 1;
}
.container3 h1{
    font-size: 50px;
    color: #122c06;
    font-weight: bold;
}
.container3 h3{
    font-size: 30px;
    color: #122c06;
    font-weight: bold;
}

.footer{
 width: 100%;
 background-color: #f5edcd;
 color:#122c06;
 padding: 20px 0;
 display: flex;
 justify-content: center;
 font-size: 15px;

}




